div
  label(for='title') Title
  input(type="text" id='title' name='title')
div
  label(for='background') Background URL
  input(type="text" id='background' name='background')
div
  input(type="checkbox" name='dark' id='dark')
  label(for='dark' class='checkbox-label') Background image has dark colors
div
  label(for='excerpt') Excerpt
  textarea(id='excerpt' name='excerpt')
div
  label(for='body') Body
  textarea(id='body' name='body')
