extends ../layout

block content
  div.header
    include ../includes/title.jade
  div.new-content
    div.sub-header
      h2 New Article
    div.form-container
      form(action='/articles' method='post')
        include ../includes/form.jade
        div
          input(type="submit" value='Add Article')
    include ../includes/errors.jade
